---
---

@import "_reset";
@import "_variables";

html,
body,
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  margin: 5px auto;
  background-color: #fff;
  padding: 5px;
  width: 598px;
  background-color: transparent;
  display: inline;
  position: absolute;
  left: 50%;
  margin-left: -299px;
  z-index: 5;
}

button {
  margin: 0;
  background-color: green;
  border-radius: 5px;
  border: green;
  color: white;
  padding: 10px;
  outline: transparent;
}

.spaces {
  background-color: red;
  border-color: red;
}

.random {
  background-color: #FFBA15;
  border-color: #FFBA15;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  z-index: 0;
  background-color: transparent;
}

.spinner.spin {
  -webkit-animation: spin 1000ms infinite linear;
  -moz-animation: spin 1000ms infinite linear;
  -ms-animation: spin 1000ms infinite linear;
  z-index: 5;
}

img{
  width: 100px;
}

@media screen and (max-width: 699px) {
  #panel{
    width: 340px;
    margin-left: -170px;
  }
  button {
    margin-top: 10px;
  }
  .bikes:nth-of-type(1){
    margin-left: 17px;
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}
