---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

@mixin default-transition($time,$animation:ease-out,$delay: 0s,$element: all) {

  @if $time == superSuperShort{ $time: 0.05s; }
  @if $time == superShort     { $time: 0.1s; }
  @if $time == short          { $time: 0.4s; }
  @if $time == long           { $time: 0.7s; }

  @if $animation == reverse { $animation: ease-in; }
  @if $animation == normal  { $animation: ease-out; }


    -webkit-transition: $element $time $animation $delay;
       -moz-transition: $element $time $animation $delay;
         -o-transition: $element $time $animation $delay;
            transition: $element $time $animation $delay;
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

svg {
  margin-bottom: -6px;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

/** * html5doctor.com Reset Stylesheet v1.6.1
(http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6,
p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img,
ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot, thead, tr, th, td,article, aside, canvas, details,
figcaption, figure,footer, header, hgroup, menu, nav, section,
summary,time, mark, audio, video
{    margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
	body {    line-height:1;}
	article,aside,details,figcaption,figure,footer,header,
	hgroup,menu,nav,section
	{    display:block;}
	nav ul {    list-style:none;}
	blockquote, q {    quotes:none;}
	blockquote:before,
	blockquote:after,q:before, q:after
	{    content:'';
	content:none;}
	a {    margin:0;
		padding:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;}/* change colours to suit your needs */
	ins {
		background-color:#ff9;
		color:#000;
		text-decoration:none;}/* change colours to suit your needs */
mark {
		background-color:#ff9;
		color:#000;
		font-style:italic;
		font-weight:bold;}
del {
		text-decoration:
		line-through;}
abbr[title], dfn[title] {
			border-bottom:1px dotted;
			cursor:help;}
table {    border-collapse:collapse;
			border-spacing:0;}/* change border colour to suit your needs */
hr {
				display:block;
				height:1px;
				border:0;
				border-top:1px
				solid #cccccc;
				margin:1em 0;
				padding:0;}
input, select {    vertical-align:middle;}

/*real code here*/

html,
body {
  font-size: 20px;
	position: relative;
	font-family: 'Arimo', Sans-serif;
}

a {
	text-decoration: none;
	color: #1c558d;
}

li {
  list-style: none;
}

#banner {
	width: 100%;
	height: 100px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

#menubutton {
  display: none;
}

#title {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
	color: #1c558d;
	display: inline-block;
	margin-top: 25px;
}

.contact {
	display: inline-block;
	letter-spacing: 1px;
	float: right;
	margin-top: 30px;
	color: #6f6f53;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

#contact {
	display: inline-block;
	vertical-align: top;
	font-size: 0.9rem;
}

.contact p {
  padding: 1px 0;
}

#details {
	display: inline-block;
	font-size: 0.9rem;
}

.menu {
	background-color: #385571;
	width: 22%;
	display: inline-block;
	vertical-align: top;
	margin-right: .3%;
	line-height: 40px;
	font-size: 1.3rem;
	padding: 1%;
  padding-bottom: 4.232%;
}

#verticalheight {
  height: auto;
}

.menu>ul>li>a {
	color: #ffffff;
	font-family: 'Roboto';
	font-weight: 300;
}

.menu>ul>li>a:hover {
	text-decoration: underline;
}

#home {
  margin-left: 4%;
}

#inline{
	width: 89.2%;
	margin-left: 4.4%;
	margin-right: auto;
	padding-top: 10px;
}

.inline{
	display: inline-block;
	margin-right: 4%;
	font-size: 1.1rem;
}

.fadein {
	position:relative;
  padding-bottom: .771*36.31%;
	width: 77.1%;
	display: inline-block;
}

.fadein > img {
  position:absolute;
  left:0;
  top:0;
}

img {
	width: 100%;
	height: 100%;
}

#wrapper {
	max-width: 1080px;
  width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

#blurb {
	height: 50%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 4px;
	margin-bottom: 15px;
	background-color: #fff1d5;
	font-size: 1rem;
	font-family: 'Arimo', sans-serif;
	color: #6f6f53;
}

.divider {
	width: 100%;
	border-bottom: 2px dashed #1c558d;
	margin-bottom: 15px;
}

#homephotoholder {
	display: inline-block;
	width: 40%;
	margin-bottom: 15px;
}

#homephoto {
	width: 100%;
	height: auto;
}

#panorama {
	width: 50%;
	display: inline;
	vertical-align: top;
}

#caravan{
	width: 50%;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	color: #385571;
	font-family: 'Arimo', sans-serif;
	line-height: 30px;
	letter-spacing: 1px;
  margin-left: 5%;
}
#attractioncontainer{
	padding: 20px;
	background-color: #d5f1ff;
	width: 89.5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 40px;
}
#attractions{
	width: 58%;
	display: inline-block;
	font-family: 'Arimo', sans-serif;
	color: #383838;
}
#bayphoto{
	width: 40%;
	height: auto;
	display: inline-block;
	float: right;

}
#credits{
	font-family: 'Roboto', San-serif;
	background-color: #385571;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 92%;
	margin-left: 3.6%;
	margin-right: auto;
	padding: 5px;
	color: white;
	text-align: right;
	font-size: .8rem;
}
#credits>a{
	color: white;
}



/*map page*/

section{
	width: 85.4vw;
	margin-right: auto;
	margin-left: auto;
}
#map{
	margin-left: 0%;
	width: 50%;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
#directions{
	display: inline-block;
	float: right;
	margin-right: 8%;
	color: #385571;
	width: 35%;
	font-style: 'Arimo', sans-serif;
	letter-spacing: 1px;
	margin-top: 70px;
	line-height: 30px;
}

/*caravan oage*/

#seaview {
	margin-left: 5.5%;
	font-family: 'Dancing Script';
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	color: #6f6f53;
}

#gallery {display: inline-block;
	width: 43.75%;
	margin-left: 4.4%;
	}

#mainpic {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: .190476190476%;
}

#bz,
#cz,
#dz,
#ez { display: none;
}

.mini{
	width: 19.0476190476%;
	height: auto;
	display: inline-block;
}

#minicontainer{
	width: 100%;
	margin-bottom: 1.90476190476%;
}

#caravanblurb{
	font-family: 'Arimo', sans-serif;
	width: 43%;
	display: inline-block;
	float: right;
	margin-right: 6%;
	color: #6f6f53;
}

#booking{
	margin-left: 7%;
	color: #8d1c38;
	padding: 5px;
	font-family: 'Arimo', sans-serif;
	font-size: .9rem;
	width: 90%;
}

table{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	background-color: #fff1d5;
	width: 90%;
}

th{
	padding: 10px;
}

table,
th,
td {
	border: 1px solid #8d1c38;
	color: #385571;
}

td {
  padding-left: 10px;
}

caption {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

/*get responsive*/

@media only screen and (max-width: 1350px) {
	html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px){
  .inline {
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1200px){
	body,
  html {
    font-size: 18px;
  }

	#comtact,
  #details {
    font-size: .8rem;
  }

	#title {
    font-size: 1.8rem;
  }

	.fadein {
		width: 70%;
		width: 70vw;
		height: 27.0833333vw;
		margin-left: 15%;
		margin-right: auto;
		margin-top: 10px;
	}

	.menu {
		width: 89.2%;
		margin-left: 4.4%;
		margin-right: auto;
		padding-top: 0px;
	}

	#verticalheight {
    height: 40px;
  }

	.menu > ul > li {
	display: inline-block;
	margin-right: 10%;
	font-size: 1rem;
	margin-right: 3%;
	}

	#caravan {
		width: 50%;
		margin-top: 0px;
		vertical-align: top;
		margin-right: 6%;
	}

	.divider {
    clear: both;
  }

	#caravanblurb {
		display: block;
		margin-left: 4.4%;
		float: left;
		width: 87%;
		margin-bottom: 10px;
	}

	#gallery {
		margin-left: 4.4%;
		width: 60vw;
	}

	#booking {
    clear: both;
  }
}

@media only screen and (max-width: 921.052631px){
	.fadein {
		width: 89.5vw;
		height: 34.66666667vw;
		margin-left: 4.4%;
	}

	#gallery {
    width: 70vw;
  }
}

@media only screen and (max-width: 860px) {
	body,
  html {
    font-size: 18px;
  }

	#menugallery,
  #menuattractions,
  #menupricelist {
    display: none;
  }

	.menu > ul > li {
    margin-left: 5%;
  }

  #directions{
		width: 89.2%;
		color: white;
		margin-bottom: 10px;
	}

	#map {
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  #gallery {
    width: 85vw;
  }
}

@media only screen and (max-width: 500px){
	body,
  html {
    font-size: 16px;
  }

  .contact{
		margin-right: 3%;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	#verticalheight {
    height: 140px;
  }

	.menu {
	 display: none;
	 height: 140px;
	 padding: 0px 0px 0px 0px;
	 margin-top: 20px;
	}

	#menubutton {
		height: 25px;
		width: 25px;
		display: inline-block;
		float: right;
		font-size: 2.3rem;
		line-height: 6px;
		letter-spacing: -4px;
		padding: 7px 6px 7px 11px;
		border-radius: 25px;
		margin-top: 20px;
		margin-right: 10px;
		border: 1px solid #385571;
	}

	.button1 {
		background-color: #385571;
		color: white;
	}

	.button {
		background-color: white;
		color: #385571;
	}

	.menu > ul > li {
		display: block;
		width: 90%;
		font-size: 1.3rem;
	}

	.menu > ul > li:first-child,
  .menu > ul > li:nth-child(2) {
    border-bottom: 1px solid white;
  }

	.fadein {
    width: 86.3vw;
  }

	#caravan,
  #bayphoto,
  #homephotoholder,
  #attractions {
		float: none;
		width: 100%;
		clear: both;
	}

	#caravan,
  #homephotoholder {
    width: 90%;
  }

	#bayphoto {
    margin-top: 20px;
  }
	#attractions {
    padding-bottom: 20px;
  }

	#blurb,#attractioncontainer,#caravan{
		width: 81vw;;
		margin-left: 4.2%;
	}

	#credits {
		margin-left: 4.2%;
		width: 90%;
		font-size: 0.7rem;
	}

	#directions,#map {
		float: left;
		width: 100%;
		color: white;
		margin-top: 10px;
		position: relative;
	}

	#gallery {
    width: 90vw;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
